<div class="comment-box" id="comment_<%= comment.id %>">
  <div class="w-row">
    <div class="w-col w-col-2">
      <div>
        <div class="avatar-circle sm" style="background-image: url(<%= comment.user.avatar.url || 'assets/12247144_985681451493689_3460159843447436262_n.jpg' %>)"></div>
      </div>
    </div>
    <div class="w-col w-col-10">
      <div><b><%= link_to comment.user.name, profile_path(comment.user) %></b></div>
      <div><%= comment.text %></div>
    </div>
  </div>
  <div class="moderation-box">
    <%= link_to t('default.delete'), comment_path(comment), data: { confirm: t('default.are_you_sure') }, method: :delete, remote: true if current_user.is_admin %>
  </div>
</div>
