<div class="relationship-situation">
  <% unless @relationship %>
    <div class="center">
      <%= simple_form_for :relationship, url: create_relationship_path, method: :post, remote: true do |f| %>
        <%= f.input :user_id, as: :hidden, input_html: { value: @user.id } %>
        <%= f.submit "Adicionar como amigo",
        class: 'w-button add-friend',
        data: { disable_with: 'Enviando...' },
        style: 'margin-top: 10px;' %>
      <% end %>
      <!-- <%# link_to "Banir usuário", "#", class: 'w-button ban-user' %> -->
    </div>
  <% else %>
    <% unless @relationship.situation_pending? %>
      <b><%= link_to "Desfazer amizade", destroy_relationship_path(user_id: @user.id), class: 'unfriend-link', method: :post, remote: true %></zb>
    <% else %>
      <div class="center">
        <%= link_to "Aguardando aceitação...", "#", class: 'w-button add-friend' %>
        <%= link_to "Cancelar pedido", destroy_relationship_path(user_id: @user.id), method: :post, remote: true,
            data: { disable_with: 'Cancelando...' }%>
      </div>
    <% end %>
  <% end %>
</div>
