<div class="users-list">
  <% @users.each_slice(3) do |users| %>
    <div class="w-row">
      <% users.each do |user| %>
        <div class="w-col w-col-4 w-col-small-4">
          <div class="user-li">
            <div class="avatar-circle sm" style="background-image: url(<%= user.avatar.url || 'assets/12247144_985681451493689_3460159843447436262_n.jpg' %>)"></div>
            <b><%= link_to user.name, profile_path(user.id), class: 'user-name' %></b>
            <div><%= user.email %></div>
            <b><%= user.is_admin ? 'ADMIN' : 'REGULAR' %></b>
            <div class="center">
              <%= link_to t('user_card.relationship.ban'), ban_user_path(user_id: user.id),
                  method: :post, remote: true, class: 'w-button btn-danger btn-sm',
                  style: 'width: 100px;',
                  data: { disable_with: t('default.wait') } if !user.status_banned? && !user.is_admin %>
              <%= link_to t('user_card.relationship.active'), ban_user_path(user_id: user.id),
                  method: :post, remote: true, class: 'w-button btn-success btn-sm',
                  style: 'width: 100px;',
                  data: { disable_with: t('default.wait') } if user.status_banned? %>
              <%= link_to t('user_card.relationship.became_admin'), became_admin_path(user_id: user.id),
                  method: :post, remote: true, class: 'w-button btn-success btn-sm',
                  style: 'margin-left: -5px;',
                  data: { disable_with: t('default.wait') } if !user.is_admin && user.status_active? %>
              <%= link_to t('user_card.relationship.revoke'), became_admin_path(user_id: user.id),
                  method: :post, remote: true, class: 'w-button btn-success btn-sm',
                  data: { disable_with: t('default.wait') } if user.is_admin %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
