<section>
  <div class="w-container main">
    <h1 class="page-header">Seja bem vindo <%= current_user.name %></h1>
    <div class="w-row">
      <div class="w-col w-col-3 w-clearfix">
        <%= render 'shared/user_card', user: current_user %>
      </div>

      <div class="w-col w-col-9">

        <div class="w-form">
          <h1 class="post-title"><%= @video.title %></h1>
          <div style="padding-top: 56.17021276595745%;" class="w-embed w-video">
            <iframe class="embedly-embed" src="http://www.youtube.com/embed/<%= @video.parse_url %>?autoplay=1" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
          </div>

          <%= rating_for @video, "like", star: 5, enable_half: true, disable_after_rate: true, cancel: true %>

          <%= render 'comments/form' %>
        </div>

        <div id="comments">
          <% @video.comments.each do |comment| %>
            <%= render 'comments/comment', comment: comment %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
