<div class="profile-side">
  <div class="avatar-box">
    <div class="avatar-circle"></div>
    <%= display_admin_cert(@user) %>
  </div>
</div><a href="#"><strong><%= @user.name %></strong></a>
<%= is_admin @user %>
<div>Desde: <%= l @user.created_at, format: :short %></div>

<%= render 'shared/user_counters' %>

<%= render 'relationships/form' if @user != current_user %>

<% if current_user.is_admin %>
  <ul class="w-list-unstyled">
    <li class="side-menu-link users">
      <%= link_to users_path, class: 'w-inline-block menu-list' do %>
        <div class="side-menu-text"><strong>usuários</strong></div>
      <% end %>
    </li>
    <li class="side-menu-link">
      <%= link_to videos_path, class: 'w-inline-block menu-list' do %>
        <div class="side-menu-text"><strong>Vídeos</strong>
        </div>
      <% end %>
    </li>
    <li class="side-menu-link news">
      <%= link_to posts_path, class: 'w-inline-block menu-list' do %>
        <div class="side-menu-text"><strong>notícias</strong>
        </div>
      <% end %>
    </li>
  </ul>
<% end %>
