<div class="user-counters">
  <ul class="w-list-unstyled count-ul">
    <li class="count-list">
      <h3 class="num-counter"><%= @user.friends.count %></h3>
      <div><%= t('user_card.friends') %></div>
    </li>
    <li class="count-list">
      <h3 class="num-counter"><%= @user.videos.count %></h3>
      <div><%= t('user_card.videos') %></div>
    </li>
    <li class="count-list">
      <h3 class="num-counter"><%= @user.posts.count %></h3>
      <div><%= t('user_card.posts') %></div>
    </li>
  </ul>
</div>
