<section>
  <div class="w-container main">
    <h1 class="page-header">Seja bem vindo <%= current_user.name %></h1>
    <div class="w-row">
      <div class="w-col w-col-3 w-clearfix">
        <%= render 'shared/user_card', user: current_user %>
      </div>

      <div class="w-col w-col-9">
        <% @posts.each do |post| %>
          <b><%= link_to post.title, post_path(post), class: 'post-title' %></b>
          <div class="post-date">De: <%= post.user.name %> - <%= post.created_at.strftime("%d/%m/%Y - %H:%M") %></div>
        <% end %>
      </div>
    </div>
  </div>
</section>
