<div class="w-form">
  <%= simple_form_for @post do |f| %>

    <%= render 'layouts/error_box', resource: @post %>

    <%= f.input :title, placeholder: 'Título da publicação', input_html: { class: 'w-input input-rounded' } %>

    <%= f.input :text, placeholder: 'Conteúdo da notícia', input_html: { rows: 12, class: 'w-input input-rounded tinymce' } %>

    <hr>

    <%= f.input :tags, input_html: { id: 'tags', style: 'margin-top: 15px;', class: 'w-input input-rounded' } %>

    <div class="pull-right" style='margin-top: 20px;'>
      <%= f.button :submit, class: 'w-button', data: { disable_with: 'Salvando...' } %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  tinyMCE.init({
    selector: 'textarea.tinymce',
    menubar: false,
    language: 'pt_BR',
    statusbar: false,
    content_style: "p {font-family: 'Bree Serif', sans-serif;}"
  });
</script>

<%= content_for :bottom_js do %>
  <script type="text/javascript">
    $('#tags').tagsInput({
      'height':'100px',
      'width':'100%',
      'interactive':true,
      'defaultText':'',
      'delimiter': [',',';'],   // Or a string with a single delimiter. Ex: ';'
      'removeWithBackspace' : true,
      'minChars' : 3,
      'placeholderColor' : '#666666'
    });
  </script>
<% end %>
