<!DOCTYPE html>
<html>
<head>
  <title>Rails Forum</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Bree Serif:regular","Allerta:regular"]
      }
    });
  </script>
</head>
<body>
  <header>
    <nav class="w-clearfix nav-purple">
      <ul class="w-list-unstyled nav-ul">
        <li class="nav-list"><b><%= link_to t('nav.home'), root_path, class: 'nav-link' %></b></li>
        <% if current_user %>
          <li class="nav-list"><b><%= link_to t('nav.friends'), relationships_path, class: 'nav-link' %></b></li>
          <% if current_user.is_admin %>
            <li class="nav-list"><b><%= link_to t('nav.panel'), users_path, class: 'nav-link' %></b></li>
          <% end %>
          <li class="nav-list"><b><%= link_to t('nav.logout'), destroy_user_session_path, method: :delete, class: 'nav-link' %></b></li>
        <% else %>
          <li class="nav-list"><b><%= link_to t('nav.sign_in'), new_user_session_path, class: 'nav-link' %></b></li>
        <% end %>
        </li>
      </ul>
    </nav>
  </header>

  <%= render 'shared/flash' %>

  <section>
    <div class="w-container main">
      <%= render 'shared/language_options' %>
      <div class="w-row">
        <% if !devise_controller? %>
          <div class="w-col w-col-3 w-clearfix">
            <%= render 'shared/user_card'  %>
          </div>
          <div class="w-col w-col-9">
            <%= yield %>
          </div>
        <% else %>
          <%= yield %>
        <% end %>
      </div>
    </div>
  </section>

  <%= yield :bottom_js %>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>
