<!DOCTYPE html>
<html>
<head>
  <title>CursifyTest</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Bree Serif:regular","Allerta:regular"]
      }
    });
  </script>
</head>
<body>
  <header>
    <nav class="w-clearfix nav-purple">
      <ul class="w-list-unstyled nav-ul">
        <li class="nav-list"><b><%= link_to "Página Inicial", root_path, class: 'nav-link' %></b></li>
        <% if current_user %>
          <% if current_user.is_admin %>
            <li class="nav-list"><b><%= link_to "Painel", users_path, class: 'nav-link' %></b></li>
          <% end %>
          <li class="nav-list"><b><%= link_to "Sair", destroy_user_session_path, method: :delete, class: 'nav-link' %></b></li>
        <% else %>
          <li class="nav-list"><b><%= link_to "Entrar", new_user_session_path, class: 'nav-link' %></b></li>
        <% end %>
        </li>
      </ul>
    </nav>
  </header>

  <%= render 'shared/flash' %>

  <%= yield %>

  <%= yield :bottom_js %>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>
